.header  {
  font-family: monospace;
  background: papayawhip;

}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  
}

a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

/*
SOLUTIONS BELOW
*/

.header {
  /*makes more beige stuff*/
  padding: 8px;
  /*turns staked items next to eachother*/
  display: flex;
  /*Moves the individual items to the center of the beige (cross axis) */
  align-items: center;
  /*Adds space to the individual items*/
  justify-content: space-between;
  
}

ul {
  /*turns the links from being on top of eachother to next to each other*/
  display: flex;
  /**/
  margin: 0;
  /* removes space from ends */
  padding: 0;
  /*add gaps between the links*/
  gap: 8px;
}