/* this is some magical font-importing.  
you'll learn about it later. */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

body {
  margin: 0;
  background: #eee;
  font-family: Besley, serif;
}

.header {
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0,0,0,.1);
}

.profile-image {
  background: rebeccapurple;
  box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.logo {
  color: rebeccapurple;
  font-size: 32px;
  font-weight: 900;
  font-style: italic;
}

button {
  border: none;
  border-radius: 8px;
  background: rebeccapurple;
  color: white;
  padding: 8px 24px;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: rebeccapurple;
}

ul {
  list-style-type: none;
}
/**/

.header {
  /* makes stuff next to eachother*/
  display:flex;
  /*centers everything on the cross axis*/
  align-items:center;
  /*Adds padding between the logo and white space*/
  padding: 8px;
  

}


ul {
  /* makes the links themselves next to eachother*/
  display: flex;
  /*add gaps between the links*/
  gap: 16px;
  
}

.profile-image{
  /* the 8x adds space between the profile image and the notification */
  margin: auto 16px;
}

.notifications{
  /* the margin moves both the pf and the notification to the end */
  margin: auto 0 auto auto;
  

}